<p>character-list works!</p>

<h3>Listado: {{ listName() }}</h3>
    <ul>
      <!--para mostrar los personajes de signal character()-->
      @for (character of characters(); track character.id; let idx = $index) {

      <!--si el poder del personaje es mayor a 500 se muestra en la lista -->
      @if(character.power > 500) {

      <li>
        <span> {{ idx + 1 }} - {{ character.name }} </span>
        <!--UNA CONDICION CON LA CLASE text-danger: si caracter power es mayor a 9000 se aplica la clase(texto en rojo)-->
        <strong
          [class.text-danger]="character.power > 9000"
          [class.text-info]="character.power <= 9000"
        >
          ( power: {{ character.power }} )
        </strong>
      </li>
    } @else {
      <li><strong>No se vera este heroe porq tiene menos de 500 pt de vida</strong></li>

    }
     <!-- cierra if -->
    }<!--  cierra for -->
    </ul>

