<style></style>

<nav>
  <!--IMPORTAR ROUTERLINK AL TS NAVBAR
  añadir para q el color hove cambie -> [routerLinkActiveOptions]="{exact:true}"-->
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >About</a
  >
  <a [routerLink]="['/hero']" [routerLinkActive]="'active'">Hero</a>
  <a [routerLink]="['/dragonball']" [routerLinkActive]="'active'">DragonBall</a>
  <a [routerLink]="['/dragonball-super']" [routerLinkActive]="'active'">DragonBall Sper</a>
  <!-- <a [routerLink]="['/projects']" [routerLinkActive]="'active'">Projects</a>
  <a [routerLink]="['/skills']" [routerLinkActive]="'active'">Skills</a>
  <a [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact</a> -->
</nav>
<hr [style.background-color]="color" class="dynamic-line" />
