<p>dragonball works!</p>

<div class="row">
  <div class="col-12 col-sm-6">
    <!--AÑADIR component dragonball-chareacter-add-->
    <app-character-app
    (newCharacter)="DragonballService.addCharacter($event)"

    />
  </div>
  <div class="col-12 col-sm-6">
    <!-------------------------------- AÑADIMOS COMPONENTE DENTRO E IMPORTARLO EN ESTE .TS ---------------------------------->
    <dragonball-character-list
      listName="DragonBall Super"
      [characters]="DragonballService.characters()"  
    />
  </div>
</div>
